<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <img src="assets/icon/MonexLogo.png" alt="Logo" style="width: 40px; height: 40px; margin-left: 10px;">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card  style="background-color: #fff;">
    <div style="display: flex; justify-content: center;">
      <img src="assets/icon/MonexMaster.png" alt="Monex" style="width: 80%; height: auto;">
    </div>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Welcome to Money Expenses</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This is a simple app to track your expenses and income.
      <br />
      You can add any kind of transactions to keep up with spending and income.
      <br />
      Use the tabs below to navigate through the app.
    </ion-card-content>
  </ion-card>

  
</ion-content>
