<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Welcome to Money Expenses</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This is a simple app to track your expenses and income.
      <br />
      You can add any kind of transactions to keep up with spending and income.
      <br />
      Use the tabs below to navigate through the app.
    </ion-card-content>
  </ion-card>

  
</ion-content>
