<ion-tabs>

  <ion-header slot="top">
  <ion-toolbar>
    <ion-title>
      {{getCurrentTab()}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 15px;" *ngIf="!isLoggedIn" tab="Signup" href="/tabs/Signup">
        Sign Up
      </ion-button>
      <ion-button style="margin-right: 15px;" *ngIf="!isLoggedIn" tab="Login" href="/tabs/Login">
        Login
      </ion-button>
      <ion-button style="margin-right: 15px;" *ngIf="isLoggedIn" (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/icon/MonexLogoTrans.png" alt="Logo" style="width: 40px; height: 40px; margin-left: 10px;">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home" href="/tabs/Home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Balance" href="/tabs/Balance">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
      <ion-label>Balance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Into-Pocket--Out-of-Pocket" href="/tabs/Into-Pocket--Out-of-Pocket">
      <ion-icon aria-hidden="true" name="calculator"></ion-icon>
      <ion-label>In - Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
