<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Into Pocket - Out of Pocket
    </ion-title>
    <ion-buttons slot="end">
      <img src="assets/icon/MonexLogo-Dark.png" alt="Logo" style="width: 40px; height: 40px; margin-left: 10px;">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Into Pocket - Out of Pocket Overview</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This section is for you the user to fill out your income and expenses.
      This input will be used to track your financial activities.
      <br />
      You can add, or edit transactions to keep up to date of your financial
      activities.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Into Pocket (Money In)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="incomeForm" (ngSubmit)="onSubmit('Income')">
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <br />
          <ion-input
            type="number"
            formControlName="Amount"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Source</ion-label>
          <br />
          <ion-select
            formControlName="Category"
            placeholder="Select Source"
            required
          >
            <ion-select-option value="salary">Salary</ion-select-option>
            <ion-select-option value="freelance">Freelance</ion-select-option>
            <ion-select-option value="gift">Gift</ion-select-option>
            <ion-select-option value="investment">Investment</ion-select-option>
            <ion-select-option value="other-Income">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date</ion-label>
          <br />
          <ion-datetime
            type="date"
            formControlName="Date"
            required
          ></ion-datetime>
        </ion-item>
        <ion-button expand="block" type="submit" color="success"
          >Add Income</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Out of Pocket (Money Out)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit('Expense')">
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <br />
          <ion-input
            type="number"
            formControlName="Amount"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Expense</ion-label>
          <br />
          <ion-select
            formControlName="Category"
            placeholder="Select Source"
            required
          >
            <ion-select-option value="housing">Housing</ion-select-option>
            <ion-select-option value="food">Food</ion-select-option>
            <ion-select-option value="transport">Transport</ion-select-option>
            <ion-select-option value="entertainment"
              >Entertainment</ion-select-option
            >
            <ion-select-option value="other-Expense">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date</ion-label>
          <br />
          <ion-datetime
            type="date"
            formControlName="Date"
            required
          ></ion-datetime>
        </ion-item>
        <ion-button expand="block" type="submit" color="danger"
          >Add Expense</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
