<div class="container mt-4">
  <div style="display: flex; justify-content: center">
    <img src="MonexMaster.png" alt="Monex" style="width: 70%; height: auto" />
  </div>
  <div class="row">
    <div class="col-12">
      <div class="bg-success text-white rounded p-4 mb-4 shadow">
        <h2 class="mb-3">Welcome to Money Expenses</h2>
        <p>
          This is a simple app to track your expenses and income.<br />
          You can add any kind of transactions to keep up with spending and
          income.<br />
          Use the navigation bar above to move through the app.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <a class="btn btn-primary mx-2" routerLink="/balance">View Balance</a>
      <a class="btn btn-outline-success mx-2" routerLink="/form"
        >Add Transaction</a
      >
    </div>
  </div>
</div>
